.Footer-right {
    width: 435px;
    height: 34px;
    font-family: Poppins;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: white;
}
.Follow-us {
    height: 34px;
    margin: 7px 120px 4px 115px;
    font-family: Poppins;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: white;
  }
.Download-our-apps {
  height: 34px;
  margin: 4px 0 4px 115px;
  
}

.Lets-Bee-Delivery {
    width: 435px;
    height: 34px;
    margin: 4px 0 77px 115px;
    font-family: Poppins;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--white);
  }

  .Lets-Bee-Life {
    width: 435px;
    height: 34px;
    margin: 36px 0 45px 115px;
    font-family: Poppins;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--white);
  }

  .about  {
    width: 602px;
    height: 146px;
    margin: 7px 115px 41px 18px;
    font-family: Poppins;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: white;
  }
  .social-facebook {
    width: 35px;
    height: 35px;
    margin: 6px 18px;
  }
  
  .social-youtube {
    width: 35px;
    height: 35px;
    margin: 6px 18px;
    border-radius: 507px;
  } 
  .social-tiktok {
    width: 35px;
    height: 35px;
    margin: 6px 18px;
    border-radius: 200px;
  
  } 
  .about .text{
    font-weight: bold;
    }